body {
    background: url('../img/624111.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4f4f4f;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #201f1f;
}
  
::-webkit-scrollbar-corner {
    background: transparent;
}
  
::-webkit-scrollbar-button {
    display: none;
}

.placeholder {
    background-color: #333333;
    max-width: 50%;
}

@media (min-width: 1200px){
    .placeholder {
        max-width: 33.3%;
    }
}